<div class="o-container o-container--flex">
  <div class="o-list">
    <div class="o-sorting_qat_image" style="background-image: url(<%= image_path('sorting_qat1') %>)"></div>
    <div class="o-list-el o-list-rolling" id="sentences">
    </div>
  </div>
  <div class="o-assign_image--container">
    <% if @team.avatar.attached? %>
      <div class="o-assign_image" id="team-image" style="background-image: url(<%= url_for(@team.avatar) %>);"></div>
    <% else %>
      <div class="o-assign_image" id="team-image">
        <h1><%= @team.name %></h1>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var sentences = <%= raw @sentences %>;
    var decision = "<%= raw "I pick #{@team.name}!" %>";

    function changeLine(content) {
      var new_el = document.createElement('h1');
      new_el.classList.add('o-list-el');
      new_el.innerHTML = content;
      var el = document.getElementById('sentences');
      el.replaceChild(new_el, el.firstChild);
    }

    function addSentence(content, time) {
      setTimeout(function() {
        changeLine(content);
      }, time);
    };

    for (var i = 0; i < sentences.length; i++) {
      addSentence(sentences[i], 2500*(i+1));
    }
    addSentence('Hmm...',0);
    addSentence('...', 12000);
    addSentence(decision, 14000);

    setTimeout(function(){
      document.getElementById('team-image').classList.add('show');
    }, 14000);
  });
</script>
