<div class="c-navbar">
  <div class="c-navbar__navigation">
    <div class="c-navbar__link-area <%= 'active' if current_page?(teams_path) %>">
      <%= link_to 'Teams', teams_path, class: 'c-navbar__link' %>
    </div>
    <div class="c-navbar__link-area <%= 'active' if current_page?(scores_path) %>">
      <%= link_to 'Scores', scores_path, class: 'c-navbar__link' %>
    </div>
    <div class="c-navbar__link-area <%= 'active' if current_page?(assign_path) %>">
      <%= link_to 'Assign', assign_path, class: 'c-navbar__link' %>
    </div>
  </div>
</div>
